<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	  <meta name="description" content="Website design and maintenance for businesses">
	  <meta name="keywords" content="dragandrop, dragandropdesign, website design, website, freelancer, independent, small business, programmer, programming, ecommerce, HTML, CSS, JavaScript">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DraganDrop</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!--Bootswatch-->
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen">
	<!--Favicon-->
	<link rel="shortcut icon" href="assets/images/favicon.ico" />

</head>
<body id="contact">
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid navbar-custom">
    		<div class="navbar-header">

<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		
      			<a class="navbar-brand" href="index.html">
        			<img src="assets/images/DraganDrop-Logo.png" alt="DraganDrop">
      			</a>
		
    		</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-collapse navbar-nav navbar-right navbar-right-custom">
		        <li ><a href="/">Home</a>
		        </li>
		        <li><a href="/services">Services </a>
		        </li>
		        <li><a href="/packages">Packages </a>
		        </li>
		        <li><a href="/showcase">Showcase </a>
		        </li>
		        <li><a href="/contact">Contact </a>
		        </li>
		        <li><a class="btn btn-primary btn-lg" href="/services" role="button">Get A Free Quote</a>
		        </li>
		      </ul>
    	</div>
  		</div>
	</nav>
<div class="container">
          
          <div class="row" id="form">
              <h1 id="header">Contact Us </h1>
              <div style="color:red; font-weight: bold;" id="validation"></div>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" required placeholder="Enter Name">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" required placeholder="Enter Email">
              </div>
              <div class="form-group">
                  <label for="dropdown"></label>
                  	<select>
					  <option value disabled>What are you looking for?</option>
					  <option value="Logo Design">Logo Design</option>
					  <option value="Website Design">Website Design</option>
					  <option value="Backend Development">Backend Development</option>
					  <option value="Consultation">Consultation</option>
					  <option value="Videography">Videography</option>
					  <option value="Social Media">Social Media</option>
					</select>
              </div>
              <textarea class="form-group" name="description" placeholder="Tell us about your project" required="required"></textarea>
              <button type="submit" id="submit" class="btn btn-success addValue">Submit</button>
          </div>
          <ul id="contacts" class="list-group">
          </ul>      
      </div> 

<footer class="footer">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <a class="footer-logo" href=""><img src="assets/images/DraganDrop-Logo.png" alt="DraganDrop" class="pic-footer" ></a>
        <div class="copyright">© 2017 DraganDrop, LLC</div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <div class="column internal-link">
          <h6>Popular Ventures</h6>

			<a href="#">Crafts/Art</a>				
			<a href="#">Music</a>					
			<a href="#">Design</a>					
			<a href="#">Engineering</a>				
			<a href="#">Marketing</a>				
			<a href="#">Information Technology</a>

        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <div class="column internal-link">
          <h6>Get Involved</h6>

			<a href="#">For Employers</a>												
			<a href="#">Consultation</a>												
			<a href="#">For Independent Freelancers</a>									
			<a href="#">For Developers</a>												
			<a href="mailto:dragandr@dragandrop.com">Send Feedback About DraganDrop</a>	
			<a href="#">Tell A Friend</a>												

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="column social_col">
          <h6>Join The Conversation</h6> <!--We will only be using facebook lol-->

			<a href="https://www.facebook.com/DraganDrop-1930143447254553/?notif_t=page_unpublish&notif_id=1505925371313571" target="_new"><img src="" alt="facebook" class="facebook"/></a><i class="fa fa-facebook" aria-hidden="true"></i>		
			<!--<li><a href="#" target="_new"><img src="" alt="linkedin" class="linkedin"/></a>		</li>
			--><a href="#" target="_new"><img src="" alt="twitter" class="twitter"/></a><i class="fa fa-twitter" aria-hidden="true"></i>
			<!--<li><a href="#" target="_new"><img src="" alt="pinterest" class="pinterest"></a>	</li>
			<li><a href="#" target="_new"><img src="" alt="instagram" class="instagram"></a>	</li><--></-->

        </div>
      </div>
    </div>
	</div>
    </footer>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--logic.js-->
<script src="assets/javascript/logic.js"></script>
</body>
</html>