<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	  <meta name="description" content="Website design and maintenance for businesses">
	  <meta name="keywords" content="dragandrop, dragandropdesign, website design, website, freelancer, independent, small business, programmer, programming, ecommerce, HTML, CSS, JavaScript">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DraganDrop</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!--Bootswatch-->
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/reset.css" media="screen">
	<!--Favicon-->
	<link rel="shortcut icon" href="assets/images/favicon.ico" />

</head>
<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container-fluid navbar-custom">
    		<div class="navbar-header">

<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		
      			<a class="navbar-brand" href="index.html">
        			<img src="assets/images/DraganDrop-Logo.png" alt="DraganDrop">
      			</a>
		
    		</div>
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-collapse navbar-nav navbar-right navbar-right-custom">
		        <li ><a href="/">Home</a>
		        </li>
		        <li><a href="/services">Services </a>
		        </li>
		        <li><a href="/packages">Packages </a>
		        </li>
		        <li><a href="/showcase">Showcase </a>
		        </li>
		        <li><a href="/contact">Contact </a>
		        </li>
		        <li><a class="btn btn-primary btn-lg" href="/services" role="button">Get A Free Quote</a>
		        </li>
		      </ul>
    	</div>
  		</div>
	</nav>

	<div class="container-fluid wrap">
		<div class="row">
			<h1 class="col-md-12 col-xs-12">We are a Team Dedicated Toward Excellence</h1>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Logo Design</h2>
				<p>Creating a logo is one of the most important steps in building your brand identity.
				Our designer will work with you personally to make sure you bring your vision to life.</p>
				<a href="contact.html" class="learnMoreLink">Learn More</a>
			</div>
			<div class="col-md-3">
			<h2>Website Design and Development</h2>
			<p>Outside of the cookie-cutter websites that go around today, you have the opportunity to
			develop custom, creative, well-designed websites with no effort at all.</p>
				<a href="contact.html" class="learnMoreLink">Learn More</a>
			</div>
			<div class="col-md-3">
			<h2>Backend Development</h2>
			<p>Keeping track of databases, validation, and transactions.</p>
				<a href="contact.html" class="learnMoreLink">Learn More</a>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Consulting</h2>
				<p>Let us help you guide your business to your best vision. We can help you reach your
				target audience and avoid the mistakes that many businesses can.</p>
				<a href="contact.html" class="learnMoreLink">Learn More</a>
			</div>
			<div class="col-md-3">
				<h2>Videography</h2>
				<p>Having a captive video gives you the opportunity to connect with your audience and
				display your mission statement. Our videographer will work with you personally to make sure
				you bring out the best in your business.</p>
				<a href="contact.html" class="learnMoreLink">Learn More</a>
			</div>
			<div class="col-md-3">
				<h2>Social Media Marketing &amp; SEO</h2>
				<p>Internet presence</p>
				<a href="contact.html" class="learnMoreLink">Learn More</a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>


<footer class="footer">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <a class="footer-logo" href=""><img src="assets/images/DraganDrop-Logo.png" alt="DraganDrop" class="pic-footer" ></a>
        <div class="copyright">© 2017 DraganDrop, LLC</div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <div class="column internal-link">
          <h6>Popular Ventures</h6>

			<a href="#">Crafts/Art</a>				
			<a href="#">Music</a>					
			<a href="#">Design</a>					
			<a href="#">Engineering</a>				
			<a href="#">Marketing</a>				
			<a href="#">Information Technology</a>

        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <div class="column internal-link">
          <h6>Get Involved</h6>

			<a href="#">For Employers</a>												
			<a href="#">Consultation</a>												
			<a href="#">For Independent Freelancers</a>									
			<a href="#">For Developers</a>												
			<a href="mailto:dragandr@dragandrop.com">Send Feedback About DraganDrop</a>	
			<a href="#">Tell A Friend</a>												

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="column social_col">
          <h6>Join The Conversation</h6> <!--We will only be using facebook lol-->

			<a href="https://www.facebook.com/DraganDrop-1930143447254553/?notif_t=page_unpublish&notif_id=1505925371313571" target="_new"><img src="" alt="facebook" class="facebook"/></a><i class="fa fa-facebook" aria-hidden="true"></i>		
			<!--<li><a href="#" target="_new"><img src="" alt="linkedin" class="linkedin"/></a>		</li>
			--><a href="#" target="_new"><img src="" alt="twitter" class="twitter"/></a><i class="fa fa-twitter" aria-hidden="true"></i>
			<!--<li><a href="#" target="_new"><img src="" alt="pinterest" class="pinterest"></a>	</li>
			<li><a href="#" target="_new"><img src="" alt="instagram" class="instagram"></a>	</li><--></-->

        </div>
      </div>
    </div>
	</div>
    </footer>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--logic.js-->
<script src="assets/javascript/logic.js"></script>
</body>
</html>